[Unit]
Description=openSUSE Release Tools: Docker image publisher

[Service]
User=opensuse-relmgr-bot
EnvironmenFile=~/.config/osrt-docker_publisher
ExecStart=/usr/bin/osrt-docker_publisher

[Install]
WantedBy=multi-user.target
